<%= link_to("<< Back to Champions", {:action => 'index'}, :class => 'back-link') %>

<div class="champions edit">
  <h2>Update Page</h2>

  <%= form_for(:champion, :url => {:action => 'update', :id => @champion.id}) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f}) %>


      <div class="form-buttons">
        <%= submit_tag("Update Page") %>
      </div>

  <% end %>
</div>
