<%= stylesheet_link_tag('application') %>


<div class="outer_border">
    <div class="inner_border">

    <div class="jumbotron">
        <h1>League is Life!</h1>
    </div>

    <div class="navbar navbar-default">
        <button type="button" class="btn btn-default navbar-btn">Beginner Advice</button>
        <button type="button" class="btn btn-default navbar-btn">Matchups</button>
        <button type="button" class="btn btn-default navbar-btn">Tips & Tricks</button>
        <a class ="btn btn-default navbar-btn" href="about.html">About Us</a>
        <%= link_to("Champions", {:controller=>'champion', :action => 'index'}) %>


    </div>

  <br/>



  <br/>
  <div class="row">
    <div class="col-lg-6 box">
      <h1 class="page-header"> Latest Blog Entries </h1>
    <div class="row">
      <div class="col-lg-5 box"> ILorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque, massa vitae faucibus gravida, ex lectus commodo elit, et convallis magna nisi ac nisi. Nam a quam faucibus, imperdiet tellus nec, mattis leo. Nulla sollicitudin placerat odio. eleifend turpis. Morbi sapien quam, vestibulum vel dolor a, pulvinar consequat nulla. </div>

      <div class="col-lg-5 col-lg-offset-2 box"> ILorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque, massa vitae faucibus gravida, ex lectus commodo elit, et convallis magna nisi ac nisi. Nam a quam faucibus, imperdiet tellus nec, mattis leon, gravida viverra nisl. Praesent vel sapien egestas, laoreet purus vel, eleifend turpis. Morbi sapien quam, vestibulum vel dolor a, pulvinar consequat nulla. </div>
    </div>

      <br/>

      <div class="row">
        <div class="col-lg-5 box"> ILorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque, massa vitae faucibus gravida, ex lectus commodo elit, et convallis magna nisi ac nisi. Nam a quam faucibus, imperdiet tellus nec, mattis leo. Nulla sollicitudin placerat odio. Praesent vel sapien egestas, laoreet purus vel, eleifend turpis. Morbi sapien quam, vestibulum vel dolor a, pulvinar consequat nulla. </div>

        <div class="col-lg-5 col-lg-offset-2 box"> ILorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque, massa vitae faucibus gravida, ex lectus commodo elit, et convallis magna nisi ac nisi. Nam a quam faucibus, imperdiet tellus nec, mattis leo. Nulla sollicitudin placerat odio. Quisque a velit accumsan, auctor libero non,consequat nulla. </div>
      </div>

    </div>

    <div class="col-lg-4 col-lg-offset-1 box">
      <h1 class="page-header"> Champion of the week </h1>
      <div class="row">
        <div class="col-lg-12">

         </div>
    </div>
  </div>
</div>
    </div>
    </div>