<%= link_to("<< Back to Champion", {:action => 'index', :champion_id => @champion.id}, :class => 'back-link') %>

<div class="pages new">
  <h2>Create Ability</h2>

  <%= form_for(:page, :url => {:action => 'create', :champion_id => @champion.id}) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f}) %>

      <div class="form-buttons">
        <%= submit_tag("Create Ability") %>
      </div>

  <% end %>
</div>
